# TIME TO MERGE

In [33]:
import pandas as pd

In [34]:
snow_data_path = "data/snow_data.csv"
yearly_fire_path = "data/yearly_fire_data.csv"
county_fire_path = "data/county_fire_data.csv"
duration_fire_path = "data/duration_fire_data.csv"

snow_data = pd.read_csv(snow_data_path)
yearly_fire = pd.read_csv(yearly_fire_path)
county_fire = pd.read_csv(county_fire_path)
duration_fire = pd.read_csv(duration_fire_path)
snow_data

    Year            Season  Mean Snow Depth (in)  Max Snow Depth (in)
0   2013  Winter 2012 2013             44.159260                  295
1   2014  Winter 2013 2014             38.538925                  295
2   2015  Winter 2014 2015             23.513959                  313
3   2016  Winter 2015 2016             54.926675                  311
4   2017  Winter 2016 2017             94.216049                  312
5   2018  Winter 2017 2018             29.630063                  202
6   2019  Winter 2018 2019             84.848012                  330
7   2020  Winter 2019 2020             40.437400                  332
8   2021  Winter 2020 2021             43.722304                  322
9   2022  Winter 2021 2022             43.059042                  329
10  2023  Winter 2022 2023            118.080846                  334

In [35]:
yearly_fire = yearly_fire.drop(columns = ["Avg. Duration (Hours)", "Median Duration (Hours)"])
yearly_fire = yearly_fire.rename(columns = {
    "Avg. Acres" : "Avg. Acres Burned",
    "Median Acres" : "Median Acres Burned",
    "Avg. Duration (Days)" : "Avg. Fire Duration (Days)",
    "Median Duration (Days)" : "Median Fire Duration (Days)"
})

duration_fire = duration_fire.drop(columns = ["Avg. Duration (Hours)", "Median Duration (Hours)"])
duration_fire = duration_fire.rename(columns = {
    "Avg. Acres" : "Avg. Acres Burned",
    "Median Acres" : "Median Acres Burned",
    "Avg. Duration (Days)" : "Avg. Fire Duration (Days)",
    "Median Duration (Days)" : "Median Fire Duration (Days)"
})

In [42]:
year_data = pd.merge(yearly_fire, snow_data, on = "Year", how = "left")
year_data = year_data.drop(columns = ["Season"])
year_data = year_data.round(decimals = 2)
# Format for final tables
year_data

,Year,Number of Fires,Avg. Acres Burned,Median Acres Burned,Avg. Fire Duration (Days),Median Fire Duration (Days),Mean Snow Depth (in),Max Snow Depth (in)
0,2013,14,2264.43,106.0,2.78,1.07,44.159260,295
1,2014,9,10943.00,85.0,4.62,1.58,38.538925,295
2,2015,13,5788.54,104.0,6.67,3.94,23.513959,313
3,2016,30,161.07,87.5,2.26,1.18,54.926675,311
4,2017,51,819.82,76.0,166.19,171.80,94.216049,312
5,2018,27,5906.89,67.0,148.46,155.84,29.630063,202
6,2019,21,82.05,50.0,3.31,0.70,84.848012,330
7,2020,30,1967.23,77.0,2.08,0.73,40.437400,332
8,2021,17,4254.88,118.0,11.89,1.92,43.722304,322
9,2022,12,113.17,41.5,5.88,4.02,43.059042,329

In [40]:
county_data = pd.merge(county_fire, snow_data, on = "Year", how = "left")
county_data = county_data.drop(columns = ["Season"])
county_data = county_data.round(decimals = 2)
# Format for final tables
county_data

,County,Year,Number of Fires,Avg. Acres Burned,Median Acres Burned,Min. Acres Burned,Max. Acres Burned,Mean Snow Depth (in),Max Snow Depth (in)
0,Amador,2013,1,96.00,96.0,96.0,96.0,44.16,295
1,Butte,2013,5,607.80,298.0,80.0,2264.0,44.16,295
2,Calaveras,2013,2,38.50,38.5,31.0,46.0,44.16,295
3,El Dorado,2013,2,344.00,344.0,116.0,572.0,44.16,295
4,Nevada,2013,1,52.00,52.0,52.0,52.0,44.16,295
...,...,...,...,...,...,...,...,...,...
68,Butte,2022,2,60.00,60.0,54.0,66.0,43.06,329
69,El Dorado,2022,1,20.00,20.0,20.0,20.0,43.06,329
70,Nevada,2022,3,332.00,48.0,44.0,904.0,43.06,329
71,Placer,2022,3,23.67,22.0,11.0,38.0,43.06,329
72,Yuba,2022,3,50.33,39.0,30.0,82.0,43.06,329

In [41]:
duration_data = pd.merge(duration_fire, snow_data, on = "Year", how = "left")
duration_data = duration_data.drop(columns = ["Season"])
duration_data = duration_data.round(decimals = 2)
# Format for final tables
duration_data

,County,Year,Avg. Fire Duration (Days),Median Fire Duration (Days),Min. Duration (Hours),Min. Duration (Days),Max. Duration (Hours),Max. Duration (Days),Mean Snow Depth (in),Max Snow Depth (in)
0,Amador,2013,0.71,0.71,17.03,0.71,17.03,0.71,44.16,295
1,Butte,2013,2.29,1.18,6.18,0.26,145.38,6.06,44.16,295
2,Calaveras,2013,1.49,1.49,26.60,1.11,44.98,1.87,44.16,295
3,El Dorado,2013,1.70,1.70,4.00,0.17,77.75,3.24,44.16,295
4,Nevada,2013,0.28,0.28,6.80,0.28,6.80,0.28,44.16,295
...,...,...,...,...,...,...,...,...,...,...
68,Butte,2022,1.19,1.19,8.02,0.33,49.25,2.05,43.06,329
69,El Dorado,2022,2.13,2.13,51.11,2.13,51.11,2.13,43.06,329
70,Nevada,2022,8.06,8.98,52.28,2.18,312.37,13.02,43.06,329
71,Placer,2022,8.73,9.35,19.93,0.83,384.20,16.01,43.06,329
72,Yuba,2022,5.22,5.83,52.83,2.20,183.27,7.64,43.06,329

In [39]:
yearly_data_output = "data/full_yearly.csv"
county_data_output = "data/full_county.csv"
duration_data_output = "data/full_duration.csv"

year_data.to_csv(yearly_data_output)
county_data.to_csv(county_data_output)
duration_data.to_csv(duration_data_output)