In [1]:
import pandas as pd
import numpy as ny
import requests

url = "https://cdec.water.ca.gov/dynamicapp/req/JSONDataServlet?Stations=ADM%2C+BKL%2C+BMW%2C+BNK%2C+CDP%2C+DSS%2C+FOR%2C+GOL%2C+GRZ%2C+HMB%2C+IDC%2C+IDP%2C+INN%2C+LLP%2C+MED%2C+NLS%2C+PLP%2C+RRM%2C+RTL%2C+SHM%2C+SLT%2C++SNM%2C+SQV%2C+TK2%2C++ALP%2C+BLC%2C+BLK%2C+BLS%2C+BSK%2C+CAP%2C+CSL%2C+DAN%2C+DDM%2C+EBB%2C+EP5%2C+FDC%2C+FLL%2C+GIN%2C+GKS%2C+GNL%2C+HGM%2C+HOR%2C+HRS%2C+HVN%2C+HYS%2C+LBD%2C+LVM%2C+LVT%2C+MDW%2C+MNT%2C+MRL%2C+MSK%2C+PSN%2C+RBB%2C+RBP%2C+RP2%2C+SDW%2C+SIL%2C+SLI%2C+SPS%2C+SPT%2C+STR%2C+TCC%2C+TNY%2C+TUM%2C+VRG%2C+WC3%2C+WHW%2C+BCH%2C+BGP%2C+CHM%2C+CHP%2C+CRL%2C+CSV%2C+CWD%2C+DPO%2C+GNF%2C+GRM%2C+GRV%2C+KSP%2C+MTM%2C+PSC%2C+PSR%2C+RCK%2C+SLK%2C+STL%2C+SWM%2C+TMR%2C+TUN%2C+UTY%2C+VLC%2C+WTM&SensorNums=18&dur_code=D&Start=2013-01-01&End=2023-04-11"

response = requests.get(url).json()

In [2]:
station_list = []
date_list = []
value_list = []

for station in response:
    if "obsDate" in station:
        station_id = station['stationId']
        date = pd.to_datetime(station['obsDate'])
        value = station['value']
        station_list.append(station_id)
        date_list.append(date)
        value_list.append(value)

snow_df = pd.DataFrame({
    "Date" : date_list,
    "Station ID" : station_list,
    "Snow Depth (in)" : value_list,
})

snow_df["Month"] = snow_df["Date"].dt.month
snow_df["Year"] = snow_df["Date"].dt.year
snow_df

           Date Station ID  Snow Depth (in)  Month  Year
0    2013-01-01        ADM               24      1  2013
1    2013-01-02        ADM               24      1  2013
2    2013-01-03        ADM               23      1  2013
3    2013-01-04        ADM               23      1  2013
4    2013-01-05        ADM               23      1  2013
...         ...        ...              ...    ...   ...
3042 2023-04-07        ADM               63      4  2023
3043 2023-04-08        ADM               62      4  2023
3044 2023-04-09        ADM               61      4  2023
3045 2023-04-10        ADM               58      4  2023
3046 2023-04-11        ADM               54      4  2023

[3047 rows x 5 columns]

In [3]:
snow_bins = ['2012-9-1','2013-9-1','2014-9-1','2015-9-1','2016-9-1','2017-9-1','2018-9-1','2019-9-1','2020-9-1','2021-9-1','2022-9-1','2023-9-1']
snow_labels = ['winter 12/13','winter 13/14','winter 14/15','winter 15/16','winter 16/17','winter 17/18','winter 18/19','winter 19/20','winter 20/21','winter 21/22','winter 22/23']

In [4]:
snow_bins=pd.to_datetime(snow_bins)

In [5]:
snow_df['Season'] = pd.cut(snow_df['Date'],snow_bins, labels = snow_labels)

In [6]:
snow_df=snow_df.groupby(['Season'])

In [8]:
snow_df.max()

                   Date Station ID  Snow Depth (in)  Month  Year
Season
winter 12/13 2013-09-01        ADM               29      9  2013
winter 13/14 2014-09-01        ADM               14     12  2014
winter 14/15 2015-09-01        ADM               11     12  2015
winter 15/16 2016-09-01        ADM               47     12  2016
winter 16/17 2017-09-01        ADM               64     12  2017
winter 17/18 2018-07-31        ADM               23     12  2018
winter 18/19 2019-08-18        ADM               61     12  2019
winter 19/20 2020-09-01        ADM               32     12  2020
winter 20/21 2021-06-30        ADM               42     12  2021
winter 21/22 2022-09-01        ADM              101     12  2022
winter 22/23 2023-04-11        ADM              101     12  2023